@keyframes pan-overlay {
		0% {
			background-position: 0
		}
		100% {
			background-position: 100% 100px
		}
}

.paperStyle {
	padding-left: 0;
	background: repeating-linear-gradient(0deg, rgba(240, 80, 80, 0.6), rgba(0,0,0, 0) 3px, transparent 3px, transparent 9px);
	background-size: 400% 100%;
	animation: pan-overlay 22s infinite linear
}
